$color-text-light   : #fcfcfc;
$color-text-dark	: #282c34;
$intro-background: #ffffff;
$experience-background	: #ffffff;
$projects-background	: #f3f3f3;
$footer-background	: #282c34;
$color-social-links	: #C44D58;
$color-inactive: #7e7e7e;

$font-sans: 'Lato', sans-serif;
$default-border-radius : 10px;
